<h1>Tipos de productos</h1>
<ul class="nav">
  <li class="nav-item">
    <%= link_to "Crear nuevo", new_type_path, class: "nav-link active" %>
  </li>
</ul>

<hr>
<div>
  <% @types.each do |type| %>
    <ul>
      <li>
        <%= type.name %> - id: <%= type.id %>
      </li>
      <li><%= link_to "Editar", edit_type_path(type) %></li>
    </ul>
    <hr>
  <% end %>
</div>
