<% if object.errors.any? %>
  <div id="error_explanation">
    <h5><%= pluralize(object.errors.count, "error") %>. No se puedo guardar</h5>

    <ul style="color:red">
      <% object.errors.messages.values.flatten.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
