<h1>Colores</h1>
<ul class="nav">
  <li class="nav-item">
    <%= link_to "Crear nuevo", new_color_path, class: "nav-link active" %>
  </li>
</ul>

<hr>
<div>
  <% @colors.each do |color| %>
    <ul>
      <li>
        <%= color.name %> - DB_id: <%= color.id %>
      </li>
      <li><%= link_to "Editar", edit_color_path(color) %></li>
    </ul>
    <hr>
  <% end %>
</div>
