body {
	height: 100%;
	font-family: "Muli", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.color_bullet
{
  display: inline-block;
  width: 19px;
  height: 19px;
  border: solid 1px grey;
  border-radius: 50%;
  vertical-align: text-bottom;
}
