<h1>Brands</h1>
<div>
  <% @brands.each do |brand| %>
    <ul>
      <li>
        <%= brand.name %>
      </li>
      <li><%= image_tag(brand.logo, width: "150", height: "auto") if brand.logo.attached? %></li>
      <li><%= link_to "Editar", edit_brand_path(brand), data: { turbolinks: false } %></li>
    </ul>
    <hr>
  <% end %>
</div>
