
<h1>Proceso de registro para cuenta administrador de yayo.store</h1>

<p>Sigue los siguientes pasos para completar tu registro</p>
<ol>
  <li>Dirigete a <%= link_to 'registracion', authenticate_url, target: "_blank" %>.</li>
  <li>Introduce tu cuenta de correo electronico(este email).</li>
  <li>Introduce el Codigo de Referencia: <b><%= @reference_number %>.</b></li>
  <li>
    <b>Este codigo sera valido solo hasta <%= @expiry_date %>.</b>
  </li>
  
</ol>

<p>Registrate lo antes posible y contacta a tu administrador si tienes algun inconveniente.</p>


<p>Gracias,</p>
<p>
Administracion<br>
Yayo Store
</p>

