<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Crear un nuevo producto</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render "form", product: @product %>
    </div>
  </div>
</div>
